/* src/ui/views/ExampleView.css */

html,
body,
#root {
  height: 100%; /* Asegurarse de que el contenedor raíz abarque el 100% de la altura */
  margin: 0; /* Eliminar cualquier margen predeterminado */
  padding: 0;
}

.example-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% de la altura del viewport */
  text-align: center;
  background-color: #f0f0f0; /* Color de fondo opcional */
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
  margin-bottom: 20px; /* Espacio entre la imagen y el título */
}

.title {
  font-size: 24px;
  color: #333;
}

.example-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  font-size: 16px;
  color: #333;
}

.form-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #b36500;
}
